{% extends 'layout.html' %}

{% block title %}
    <title>État des Conteneurs</title>
{% endblock %}

{% block body %}
    <div class="container my-5" style="font-family: 'lato', sans-serif;">

        <h1 class="text-center mb-5" style="color:#1E90FF; font-weight:800; font-size:2.8rem;">
            État des Conteneurs
        </h1>



        <div class="row g-4 mb-5">
            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm text-center p-4" style="background-color:#E3F2FD; border-radius:15px;">
                    <h6 class="text-primary fw-semibold mb-2">Capacité moyenne de tous les conteneurs</h6>
                    <p class="fs-4 fw-bold">{{ stats_totales.capacite_moyenne_totale }} L</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm text-center p-4" style="background-color:#FFF3E0; border-radius:15px;">
                    <h6 class="text-warning fw-semibold mb-2">Capacité minimale de tous les conteneurs</h6>
                    <p class="fs-4 fw-bold">{{ stats_totales.capacite_minimun_totale }} </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm text-center p-4" style="background-color:#E8F5E9; border-radius:15px;">
                    <h6 class="text-success fw-semibold mb-2">Capacité maximale de tous les conteneurs</h6>
                    <p class="fs-4 fw-bold">{{ stats_totales.capacite_maximun_totale }} </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm text-center p-4" style="background-color:#FCE4EC; border-radius:15px;">
                    <h6 class="text-danger fw-semibold mb-2">Somme totale des capacité de tous les conteneurs</h6>
                    <p class="fs-4 fw-bold">{{ stats_totales.somme_capacite_totale }} L</p>
                </div>
            </div>
        </div>

    <div class="row g-4 mb-5">
            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm text-center p-4" style="background-color:#E3F2FD; border-radius:15px;">
                    <h6 class="text-primary fw-semibold mb-2">Nombre de conteneur</h6>
                    <p class="fs-4 fw-bold">{{ nombre_de_conteneur.nombre_de_conteneur }} </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm text-center p-4" style="background-color:#FFF3E0; border-radius:15px;">
                    <h6 class="text-warning fw-semibold mb-2">Nombre de couleurs</h6>
                    <p class="fs-4 fw-bold">{{ nombre_de_couleur.nombre_de_couleur }} </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm text-center p-4" style="background-color:#E8F5E9; border-radius:15px;">
                    <h6 class="text-success fw-semibold mb-2">Nombre de types de déchets</h6>
                    <p class="fs-4 fw-bold">{{ nombre_de_type_dechet.nombre_de_type_dechet }} </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card shadow-sm text-center p-4" style="background-color:#FCE4EC; border-radius:15px;">
                    <h6 class="text-danger fw-semibold mb-2">Nombre d'adresse</h6>
                    <p class="fs-4 fw-bold">{{ nombre_de_localisation.nombre_de_localisation }} </p>
                </div>
            </div>
        </div>


        <div class="row g-4 mb-5">
            <div class="col-md-12">
                <div class="card shadow-sm border-0" style="border-radius:15px;">
                    <div class="card-body">
                        <h5 class="text-center text-primary fw-bold mb-3">Conteneurs par couleur</h5>
                        <div class="table-responsive">
                            <table class="table table-hover align-middle text-center mb-0" style="border-radius:10px; overflow:hidden;">
                                <thead class="table-primary">
                                <tr>
                                    <th>Couleur des conteneurs</th>
                                    <th>Nombre de conteneur par couleur</th>
                                    <th>Capacité Moyenne des conteneurs</th>
                                    <th>Capacité Minimun des conteneurs</th>
                                    <th>Capacité Maximum des conteneurs</th>
                                    <th>Somme des capacité des conteneurs</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for c in conteneurs_par_couleur %}
                                    <tr>
                                        <td>{{ c.nom_couleur }}</td>
                                        <td>{{ c.total_conteneurs }}</td>
                                        <td>{{ c.capacite_moyenne | round(2) }}L</td>
                                        <td>{{ c.capacite_minimun }}</td>
                                        <td>{{ c.capacite_maximun }}</td>
                                        <td>{{ c.somme_capacite }} L</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row g-4 mb-5">
            <div class="col-md-12">
                <div class="card shadow-sm border-0" style="border-radius:15px;">
                    <div class="card-body">
                        <h5 class="text-center text-primary fw-bold mb-3">Conteneurs par type de déchet</h5>
                        <div class="table-responsive">
                            <table class="table table-hover align-middle text-center mb-0" style="border-radius:10px; overflow:hidden;">
                                <thead class="table-primary">
                                <tr>
                                    <th>Type de déchet des conteneurs</th>
                                    <th>Nombre de conteneur par type déchet</th>
                                    <th>Capacité Moyenne des conteneurs</th>
                                    <th>Capacité Minimun des conteneurs</th>
                                    <th>Capacité Maximum des conteneurs</th>
                                    <th>Somme des capacité des conteneurs</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for t in conteneurs_par_type_dechet %}
                                    <tr>
                                        <td>{{ t.nom_dechet }}</td>
                                        <td>{{ t.total_conteneurs }}</td>
                                        <td>{{ t.capacite_moyenne | round(2) }}L</td>
                                        <td>{{ t.capacite_minimun }}</td>
                                        <td>{{ t.capacite_maximun }}</td>
                                        <td>{{ t.somme_capacite }}L</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row g-4 mb-5">
            <div class="col-md-12">
                <div class="card shadow-sm border-0" style="border-radius:15px;">
                    <div class="card-body">
                        <h5 class="text-center text-primary fw-bold mb-3">Conteneurs par localisation</h5>
                        <div class="table-responsive">
                            <table class="table table-hover align-middle text-center mb-0" style="border-radius:10px; overflow:hidden;">
                                <thead class="table-primary">
                                <tr>
                                    <th>Localisation des conteneurs</th>
                                    <th>Nombre de conteneur par localisation</th>
                                    <th>Capacité Moyenne des conteneurs</th>
                                    <th>Capacité Minimun des conteneurs</th>
                                    <th>Capacité Maximum des conteneurs</th>
                                    <th>Somme des capacité des conteneurs</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for l in conteneurs_par_localisation %}
                                    <tr>
                                        <td>{{ l.adresse }}</td>
                                        <td>{{ l.total_conteneurs }}</td>
                                        <td>{{ l.capacite_moyenne | round(2) }}L</td>
                                        <td>{{ l.capacite_minimun }}</td>
                                        <td>{{ l.capacite_maximun }}</td>
                                        <td>{{ l.somme_capacite }}L</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4 mb-5">
            <div class="col-md-12">
                <div class="card shadow-sm border-0" style="border-radius:15px;">
                    <div class="card-body">
                        <h5 class="text-center text-primary fw-bold mb-3">Conteneurs avec capacité supérieure à la moyenne</h5>
                        <div class="table-responsive">
                            <table class="table table-hover align-middle text-center mb-0" style="border-radius:10px; overflow:hidden;">
                                <thead class="table-primary">
                                <tr>
                                    <th>Id des conteneurs</th>
                                    <th>Capacité des conteneurs</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for c in conteneurs_sup_moyenne %}
                                    <tr>
                                        <td> Conteneur {{ c.id_conteneur }}</td>
                                        <td>{{ c.capacite_max }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
{% endblock %}
