{% extends 'layout.html' %}

{% block title %}
    <title>afficher les camions</title>
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-">
        <br>
        <h2 class="mb-4 fw-bold text-primary">Camions</h2>
        <div class="mb-4 d-flex gap-2">

        <a href="/camion/add" class="btn btn-outline-primary fw-semibold">Ajouter un camion</a>
        <a href="/camion/etat" class="btn btn-outline-primary fw-semibold">Afficher</a>
    </div>

        <div class="card shadow-sm rounded">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="bg-primary text-white text-center fw-semibold">
                        <tr>
                            <th>ID</th>
                            <th>Modele</th>
                            <th>Conducteur</th>
                            <th>Kilometrage</th>
                            <th>Date de mise en service</th>
                            <th>Localisation actuel</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% if camion | length >= 1 %}
                            {% for ligne in camion %}
                                <tr>
                                    <td>{{ ligne.id_camion }}</td>
                                    <td>{{ ligne.nom_modele}}</td>
                                    <td>{{ ligne.Nom_conducteur}}</td>
                                    <td>{{ ligne.kilometrage}} km</td>
                                    <td>{{ ligne.date_de_mise_en_service}}</td>
                                    <td>{{ ligne.adresse}}</td>
                                    <td class="text-nowrap">
                                        <a class="btn btn-sm btn-outline-primary me-1 fw-semibold" href="/camion/edit?id_camion={{ ligne.id_camion }}">editer</a>&nbsp;
                                        <a class="btn btn-sm btn-outline-danger fw-semibold" href="/camion/delete?id_camion={{ ligne.id_camion }}" onclick="return confirm('Confirmer la suppression ?');">supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>
                                    pas de camion
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}