
.alert-warning {
    background-color: rgba(255, 197, 197, 1);
}
.alert-success {
    background-color: #bdfdbd;
}

input:invalid {background-color: rgba(122, 122, 122, 0.41);}

img {
    width: 50px;
}

.centrer {

    text-align: center;
}



.card-img-placeholder {
    height: 200px;
    display: flex;

    align-items: center;
    justify-content: center;

    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.card-img-top {
    height: 200px;

}

.d-flex fieldset {
    display: flex;
    flex-direction: row;
}



.fond-required:invalid {
    background-color: #d5d3d3 !important;
}

.rouge {
    color: red;
}


.fond-jaune {
    background-color: #f6eece !important;
}


.fond-jaune option {
 background-color: #f6eece;
}


.flashes {
    padding: 5px;
    margin : 5px;
    background-color: green;
    list-style-type: none;
}














