{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter un lieux de collecte</title>
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h2>Ajout d'un lieu de collecte</h2>
        <form method="post" action="/lieux_collecte/add" >
            <fieldset>

                <label class="form-label" for="nomLieu">Nom du lieu de collecte</label><br>
                <input class="form-control" id="nomLieu" type="text" name="nomLieu" value="" placeholder="Saisir le nom" required><br>

                <label class="form-label" for="loc_lieu">Localisation</label><br>
                <select class="form-select" id="loc_lieu" name="loc_lieu" required>
                    <option value="">Sélectionner une location</option>
                    {% for l in lieux_collecte %}
                        <option value="{{ l.adresse }}"> {{ l.adresse}} </option>
                    {% endfor %}
                </select><br>




                <input class="btn btn-success" type="submit" value="Creer" name="Valider" >
            </fieldset>
        </form>
    </div>
    <br><br>
{% endblock %}