{% extends 'layout.html' %}

{% block title %}
    <title>Modifier un lieu de collecte</title>
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="card shadow-sm rounded p-4">
            <h3 class="mb-4 text-primary fw-bold">Modifier un lieu de collecte: {{ lieux_collecte.id_lieu_de_collecte }}</h3>
            <form method="post" action="/lieux_collecte/edit">
                <input type="hidden" name="id"  value="{{ lieux_collecte.id_lieu_de_collecte }}" id="id">

                <div class="mb-3">
                    <label class="form-label" for="nomLieu">Nom du lieu</label><br>
                    <input class="form-control" type="text" name="nomLieu"  value="{{ lieux_collecte.libelle_lieu_de_collecte }}"
                           id="nomLieu" placeholder="Saisir le nom du lieu" required><br>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold" for="id_localisation">Localisation</label>
                    <select class="form-select" type="number" id="id_localisation" name="id_localisation" required>
                        <option value="" disabled>Sélectionner une localisation</option>
                        {% for loc in localisation %}
                        <option value="{{ loc.id_localisation  }}"
                                {% if lieux_collecte.id_localisation is defined and loc.id_localisation == lieux_collecte.id_localisation %}selected{% endif %}>
                            {{ loc.adresse }} {{loc.id_localisation}}
                        </option>
                        {% endfor %}
                    </select>
                </div>



                <button type="submit" class="btn btn-primary fw-semibold">Modifier</button>
            </form>
        </div>
    </div>
    <br><br>
{% endblock %}