{% extends 'layout.html' %}

{% block title %}
    <title>afficher les lieux de collecte</title>
{% endblock %}

{% block body %}
    <div class="table-responsive container">
    <br>
<h3>Lieux de collecte</h3>
<a class="btn btn-success" href="/lieux_collecte/add">ajouter</a>
<br><br>

<table class="table table-hover ">
    <thead class="thead-dark">
        <tr>
            <th>id lieu de collecte</th><th>libelle</th><th>id localisation</th><th>Opérations</th>
        </tr>
    </thead>
    <tbody>
    {% if lieux_collecte | length >= 1 %}
        {% for ligne in lieux_collecte %}
           <tr>
               <td>{{ ligne.id_lieu_de_collecte }}</td>
               <td>{{ ligne.libelle_lieu_de_collecte}}</td>
               <td>{{ ligne.id_localisation}}</td>
               <td>
                   <a class="btn btn-warning" href="/lieux_collecte/edit?id={{ ligne.id_lieu_de_collecte}}">editer</a>&nbsp;
                   <a class="btn btn-danger" href="/lieux_collecte/delete?id={{ ligne.id }}&nomSport={{ ligne.nomSport |urlencode }}" >supprimer</a>
               </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de type de lieux de collecte
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
</div>
{% endblock %}